{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-md">
            <div class="section-title">
                <h2 class="text-center">TPF Analyzer</h2>
                <p>TPF Analyzer is a tool to understand TPF code. It is currently in alpha development stage.
                    Please contact info@crazyideas.co.in if you need to access the tool.
                    Thank you for your support.</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}