{% extends "base.html" %}

{% block app_content %}
    <h2 class="mb-3">{{ title }}</h2>
    <table id="segment-list" class="table table-bordered table-hover ">
        <thead class="thead-dark">
        <tr>
            <th class="text-center" scope="col">Instruction</th>
            <th class="text-center" scope="col">Count</th>
            <th class="" scope="col">Segments</th>
        </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td class="text-center font-weight-bold">{{ command[0] }}</td>
                <td class="text-center">{{ command[1]|length }}</td>
                <td>
                    {% for seg_name in command[1] %}
                        <a href="{{ url_for('instructions', seg_name=seg_name) }}">{{ seg_name }}</a>
                        &nbsp;
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $("#segment-list").DataTable({
                paging: false
            });
        });
    </script>
{% endblock %}